html { background: #222; }
body, nav ul { padding: 0; margin: 0; font-family: sans-serif; background: white;}

nav { text-align: center; }
nav ul { background: #222; color: #DDD; }
nav ul li { display: inline-block; padding: 2em 1em; padding-bottom: 0.25em; font-size: 3em; }

.gameaweek-dim { color: #999; }

#head { margin-top: 0.2em; text-align: center; }
#head a { text-decoration: none; color: purple; }

#footer { background: #222; height: 3em; margin-top: 2em; }

#games { background: white; margin: 2em; }
#games ul { text-align: center; margin: 0 auto; width: 58em; padding: 0; position: relative; }
#games ul li { border: solid 1px #777; padding: .2em .1em; display: block; margin: 1em; width: 17em; height: 17em; float: left; position: relative; }
#games ul li:nth-child(3n+1) { clear: left; }

#games ul li span.week { position: absolute; display: block; top: 1.3em; left: 0; right: 0; font-size: 4em; text-shadow: 0.01em 0.01em 0 #DDD, -0.01em 0.01em 0 #DDD, 0.01em -0.01em 0 #DDD, -0.01em -0.01em 0 #DDD; }
#games ul li span.build { position: absolute; bottom: 3.7em; left: 0; right: 0; display: block; color: #222; }
#games ul li span.tag { float: right; padding: .25em .5em; border-radius: .3em; background: gray; border: solid 1px #555; color: white; margin: .1em; clear: right; opacity: .75; }
#games ul li span.name { position: absolute; display: block; top: 6.9em; left: 0; right: 0; font-size: 2em; background: #222; color: #FFF; padding: 0.1em; }
#games ul li span.name a { color: #FFF; }

#games ul li.current { border-color: orange; box-shadow: 0 0 .4em 0.1em #FFb677, 0 0 0 .3em white; overflow: hidden; }
#games ul li.current::before { content: "in-progress"; display: block; position: absolute; background-color: #5B5; background-image: linear-gradient(to right, #5A5, #5B5); padding: .25em 2em; border-radius: .2em; top: .2em; left: .2em; transform: translateX(-2.1em) translateY(.8em) rotateZ(-35deg); -webkit-transform: translateX(-2.1em) translateY(.8em) rotateZ(-35deg); -moz-transform: translateX(-2.1em) translateY(.8em) rotateZ(-35deg); color: #050; }

#games ul li.nogame { border-color: #BBB; }
#games ul li.nogame span.week { color: #999; }
#games ul li.nogame span.name { color: #CCC; background: #744; }

